<h1>Hello World</h1>   
<div class="container" >
    <button id="btnCrear" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCliente">Crear</button>
    <table id="tablaClientes" class="table mt-2 table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    <div id="modalCliente" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-dark text-white">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="nombre" class="col-form-label">Nombre:</label>
                    <input id="nombre" type="text" class="form-control">
                </div>
            
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </table>
</div>